/*!
 * html5-starter | v1 | https://github.com/agustinl/html5-starter
 *
 * Reset styles based on https://github.com/hankchizljaw/modern-css-reset
 */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

::-moz-selection {
    background: #79FFE1;
    text-shadow: none;
}

::selection {
    background: #79FFE1;
    text-shadow: none;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core root defaults */
html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: #111;
    background: #FFF;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
    filter: blur(10px);
}

/* Allow only vertical resizing of textareas.
 * Prevent textarea from overflowing
 */
textarea {
    width: 100%;
    resize: vertical;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Media Queries */

/* Larger than mobile */
@media only screen and (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media only screen and (min-width: 550px) {
}

/* Larger than tablet */
@media only screen and (min-width: 750px) {
}

/* Larger than desktop */
@media only screen and (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media only screen and (min-width: 1200px) {
}
